/* links & buttons */
a,
button {
	position: relative;
	text-decoration: none;
	color: var(--light);
	padding: 0.2rem 0;
	width: auto !important;
	margin-right: var(--p2);
	cursor: pointer;
}

button {
	background: transparent;
	border: none;
}

a:hover,
button:hover {
	color: var(--snow);
}
a::before,
button::before {
	--line-width: 115%;
	--line-height: 1px;
	--line-easing: ease;
	--line-transition-duration: 300ms;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: var(--line-width);
	height: var(--line-height);
	transform-origin: right;
	transform: scaleX(0);
	background: var(--light);
	transition: transform var(--line-transition-duration) var(--line-easing);
	z-index: 1;
}
a:hover::before,
button:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}
a:hover span,
button:hover span {
	--deg: -45deg;
}
a:hover span::before,
button:hover span::before {
	transform: rotate(var(--deg));
}
a:hover span::after,
button:hover span::after {
	transform: translateX(-1px) rotate(var(--deg));
}
a span,
button span {
	--line-arrow-width: 1px;
	--line-arrow-height: 6px;
	--line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
	--line-arrow-transition-duration: 200ms;
	--line-arrow-transition-delay: 240ms;
}
a span::before,
a span::after,
button span::before,
button span::after {
	content: '';
	position: absolute;
	right: -18%;
	bottom: 0px;
	background: var(--light);
	transition: transform var(--line-arrow-transition-duration)
		var(--line-arrow-easing);
	transition-delay: var(--line-arrow-transition-delay);
	z-index: 2;
}
a span::before,
button span::before {
	width: var(--line-arrow-width);
	height: var(--line-arrow-height);
	transform-origin: 0% 100%;
	transform: rotate(-90deg);
}
a span::after,
button span::after {
	height: var(--line-arrow-width);
	width: var(--line-arrow-height);
	transform-origin: 100% 0%;
	transform: translateX(-1px) rotate(0deg);
}
